<!DOCTYPE html>
<html>

<head>
    <script src="https://unpkg.com/vue"></script>
    <script src="movies.js"></script>
    <script src="script.js"></script>
    <link rel="stylesheet" href="style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&display=swap" rel="stylesheet">
</head>

<body onload="init()">

    <h2>Lab 01/05</h2>

    <div id="app">
        <h3>Afficher une liste à puces avec tous les films qui sont déjà sortis</h3>
        <small>Devrait ressembler à ça</small>
        <ul>
            <li v-for="movie in movies" :key="movie.title" v-if="movie.rating > 2">
                <span v-if="movie.comingSoon === true" class="title"><font color="red">{{ movie.title }}</font></span>
                <span v-else class="title">{{ movie.title }}</span>
                <ul v-for="actor in movie.actors" :key="actor" >
                    {{ actor }}
                </ul>
            </li>
        </ul>
    </div>

</body>

</html>